.recipesPage {
    padding: 20px 80px;
}

.recipesPage h3 {
    font-size: 20px;
    color: #1F2933;
    margin-bottom: 2px;
}

.recipesPage p {
    color: #6B7280;
    margin-top: 5px;
}

/* SEARCH */

.recipesSearch {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.searchInput {
    flex: 1;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    padding: 0 16px;
}

.searchButton {
    height: 44px;
    padding: 0 24px;
    border-radius: 12px;
    border: none;
    background-color: #022855;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.addRecipesButton {
    padding: 12px 24px;
    background-color: #FE6A03;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* GRID */
.recipesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

/* CARD */
.recipeCard {
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.recipeCard:hover {
    transform: translateY(-4px);
}

.recipeImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* BODY */
.recipeBody {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recipeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeHeader h4 {
    margin: 0;
    font-size: 16px;
    color: #1F2933;
}

.bookmarkIcon {
    width: 20px;
    cursor: pointer;
}

.recipeDesc {
    font-size: 14px;
    color: #6B7280;
    margin: 10px 0 16px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-clamp: 2;
    overflow: hidden;
}

/* FOOTER */
.recipeFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating img {
    width: 24px;
}

.rating span {
    font-weight: 500;
}

.detailButton {
    background-color: #022855;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 14px;
}

/* TABLET */
@media (max-width: 1024px) {
    .recipesGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .recipesPage {
        padding: 20px 40px;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    .recipesSearch {
        flex-wrap: wrap;
        gap: 12px;
    }

    .searchInput {
        flex: 1;
        min-width: 0;
    }

    .searchButton {
        width: auto;
        white-space: nowrap;
    }

    .addRecipesButton {
        flex-basis: 100%;
        text-align: center;
    }

    .recipesGrid {
        grid-template-columns: 1fr;
    }

    .recipesPage {
        padding: 20px;
    }
}